#galeriaDeProyectos{

    width: 100%;
    height: auto;
    font-family:  'Ralewayt','sans-serif', 'Optima';
    padding: 4rem 0 2rem 0;
}
#galeriaDeProyectos h1{

    font-family: 'Finger Paint','cursive';
    text-align: center;
    font-size: 2.5rem;
}
.contenedorDeProyectos{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
}
