#Container_SobreMi {

    width: 100%;
    height: auto;
    font-family: 'Ralewayt', 'sans-serif', 'Optima';
    padding: 1rem 0 1rem 0;
}
#Container_SobreMi p{

    white-space: pre-wrap;
    overflow: hidden;
}
.SobreMi_container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    padding: 4rem 0 2rem 0;
}

.SobreMi_container p {

    font-size: 1.2rem;
    color: #444f5a;
}

.SobreMi_container article h1,
.Estudios h2 {
    font-family: 'Finger Paint', 'cursive';
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2.5rem;
}

.SobreMi_container>article {

    width: 50%;
    padding: 1rem;
    overflow: hidden;
}

.SobreMi_container_info {

    text-align: justify;
    line-height: 1.5rem;
}
.Skills_container_lista {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

}

.Skills_container_lista svg:not(:active) {

    /*transition: background-color 3000ms step-end;*/
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.Skills_container_lista svg:active {

    /*flex-direction: row-reverse;*/
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);

}

.Skills_container_lista div * {

    display: flex;
    width: 4rem;
    height: 4rem;
}

.Skills_container_lista div {

    padding: 1rem;
}

/*Experiencia laboral*/
.ExperienciaLaboral_info {
    
    text-align: justify;
    line-height: 1.5rem;
    font-size: 1.2rem;
}
.Idiomas_info{

    text-align: justify;
    line-height: 1.5rem;
    font-size: 1.2rem;
}
.Idiomas_Lista{

    border-bottom: 0.5px solid #1b273d0c;
    color:#1b273d;
    font-size: 2rem;
    background-image: linear-gradient(90deg,#f2f2f2,rgba(80, 152, 170, 0.555),#1b273d);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    background-repeat:no-repeat;
    background-size: 0% 2px;
    background-position: left bottom;
    transition: background-size 700ms ease-in-out;
}
.Idiomas_Lista:hover{

    background-size: 100% 2px ;
}
.SobreMi_container #CV{

    display: inline-flex;
    text-align: center; 
    font-family: 'Finger Paint', 'cursive';
    margin:4rem auto 0 auto;
}
#CV >*:hover{

    background-color:rgba(80, 152, 170, 0.555);
    color: #273755;
}
#CV >*{

    padding: 1rem;
    text-decoration: none;
    border-radius: 2rem;
    background-color: #273755;
    color: white;

}
/*FIN experincia laboral*/
@media (orientation:portrait) {
    #Container_SobreMi {

        padding-left: 0;
        padding-right: 0;
    }

    .SobreMi_container {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .SobreMi_container>article {

        width: 100%;
        padding: 0;
    }

    .Skills_container_lista {

        justify-content: center;


    }

}