@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Raleway&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
    height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  background-color: dark;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }

  body {
    color: white;
    background: black;
  }
}